*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(41, 39, 39);
}
nav{
    background-color: black;
}
div{
    text-align: center;
    margin: 0;
}
div li{
    display: inline-block;
    font-size: 27px;
    color: white;
}
div a{
    padding: 20px;
    color:yellow ;
    text-decoration: none;
    display: block;
}
div a:hover{
    background-color: rgb(255, 153, 0);
}

header{
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    text-align: center;
    padding: 30px 0px 10px 0px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
h5{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    border: 3px ;
    padding: 0px 30px 0px 30px;
    line-height: 1.6;
}
.imagen{
    display: flexbox;
    margin: 0px;
    text-align: center;
}
footer{
    background-color: rgb(56, 56, 42);
    color: rgb(0, 0, 0);
}
h4{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px;
}
.icono{
    display: flexbox;
    margin: 0px;
    text-align: right;
}